# Imputação de dados

In [1]:
# importação da biblioteca
import pandas as pd

In [2]:
# leitura do arquivo
df = pd.read_csv('train.csv')

In [3]:
# criação do dataframe
aux = pd.DataFrame({
'colunas': df.columns,
'tipos': df.dtypes,
'% NA': (df.isna().sum()/df.shape[0])*100
})

In [4]:
# exibição do dataframe
aux

# é possível observar a existência de NA: 'Age' (19.86%), 'Cabin' (77.10%) e 'Embarked' (0.22%)

                 colunas    tipos       % NA
PassengerId  PassengerId    int64   0.000000
Survived        Survived    int64   0.000000
Pclass            Pclass    int64   0.000000
Name                Name   object   0.000000
Sex                  Sex   object   0.000000
Age                  Age  float64  19.865320
SibSp              SibSp    int64   0.000000
Parch              Parch    int64   0.000000
Ticket            Ticket   object   0.000000
Fare                Fare  float64   0.000000
Cabin              Cabin   object  77.104377
Embarked        Embarked   object   0.224467

In [5]:
# preenchimento dos dados faltantes
# se os dados faltantes forem numéricos, o preenchimento pode ser com média, mediana ou moda
df['Age'] = df['Age'].fillna(df['Age'].mean()) 

aux = pd.DataFrame({
'colunas': df.columns,
'tipos': df.dtypes,
'% NA': (df.isna().sum()/df.shape[0])*100
})

aux

                 colunas    tipos       % NA
PassengerId  PassengerId    int64   0.000000
Survived        Survived    int64   0.000000
Pclass            Pclass    int64   0.000000
Name                Name   object   0.000000
Sex                  Sex   object   0.000000
Age                  Age  float64   0.000000
SibSp              SibSp    int64   0.000000
Parch              Parch    int64   0.000000
Ticket            Ticket   object   0.000000
Fare                Fare  float64   0.000000
Cabin              Cabin   object  77.104377
Embarked        Embarked   object   0.224467

In [11]:
# preenchimento dos dados faltantes 
# se os dados faltantes não forem numéricos (dados categóricos), o preenchimento pode ser com "unknown"
df['Cabin'] = df['Cabin'].fillna('unknown')
df['Embarked'] = df['Embarked'].fillna('unknown')

aux = pd.DataFrame({
'colunas': df.columns,
'tipos': df.dtypes,
'% NA': (df.isna().sum()/df.shape[0])*100
})

aux

                 colunas    tipos  % NA
PassengerId  PassengerId    int64   0.0
Survived        Survived    int64   0.0
Pclass            Pclass    int64   0.0
Name                Name   object   0.0
Sex                  Sex   object   0.0
Age                  Age  float64   0.0
SibSp              SibSp    int64   0.0
Parch              Parch    int64   0.0
Ticket            Ticket   object   0.0
Fare                Fare  float64   0.0
Cabin              Cabin   object   0.0
Embarked        Embarked   object   0.0